/Users/devenshidfar/Desktop/Masters/NRSC_510B/cebra_control_recal/models
/Users/devenshidfar/Desktop/Masters/NRSC_510B/cebra_control_recal/real_data
/Users/devenshidfar/Desktop/Masters/NRSC_510B/cebra_control_recal/spud_code
/Users/devenshidfar/Desktop/Masters/NRSC_510B/cebra_control_recal/hc_11_data
*.gif
*.npy
*.m
*.mat
*.png
*.txt
*.npz
*.csv
*.html
*.DS_store
*.pkl
*.pdf
.history/
.DS_Store